/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

div {
	font-family: 'futura';
	text-align: center;
	display: block;
	
	
}

#diettype, #allergy {
font-family: 'futura';
	text-align: center;
	position: center;
	
	margin: auto;
	width: 50vw;
	
}

container {
position: relative;
}


form {
border: 0px;
}

fieldset {
border: 0px;

}

.search{
font-family: 'verdana';
}

p {
font-family: 'futura';
	text-align: center;
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

h1 {
	font-family: 'futura';
	text-align: center;
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 40vw;
	
	color: white;
	background-color: #24538f; /* same as menu color */
}

/* styling for profile.html */

#diettype {
	position: center;
	width: 60vw;
}

container {
position
}

#diet_choices {
    margin-left: 20vw;
    margin-right: 20vw;
    width: 4vw;
    
   
    white-space: nowrap;
}
.container {
    width: 4vw;
    
}


#allergy {
	white-space: nowrap;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #deeaf5;
    font-family: 'futura';
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #d3e2f1;
}

/* Darker background-color on hover */
ul li:hover {
    background: #24538f;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


 

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
.header {
    background-color: #d3e2f1; /* light blue bg */
    padding: 40px 40px;
    color: white;
    text-align: center;

}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    border: .25vh solid;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
}

/* Style the "Add" button */
.button {
	border: .25vh solid;
    padding: 10px;
    width: 150px;
    background: #d9d9d9;
    color: #555;
    font-family: 'verdana';
    float: center;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
    margin-top: 10px;
}

.button:hover {
    background-color: #bbb;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #24538f;
  
}

.topnav a {
  float: left;
  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d3e2f1;
  color: #24538f;
}

.active {
  color: black;
}

.topnav .icon {
  display: none;
 
}



ul#todoList {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
ul#todoList li {
    position: relative;
    
    padding: 5px;
    margin: 5px;
    background-color: #ededed;
    border: 2px inset #ededed;
}
ul#todoList li span.notDone {
    margin-right: 10px;
    
    cursor: pointer;
}
ul#todoList li span.done {
    margin-right: 10px;
    
    cursor: pointer;
}
ul#todoList li span.delete {
    display: inline-block;
    position: absolute;
    right: 5px;
    cursor: pointer;
} 

  #description {
	float: right;
	margin-right: 20vw;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
  	display: none;
  }
  
  .topnav a:first-child:hover {
  background-color: #24538f;
  color: white;
}
  .topnav a:first-child{
  padding: 2.8vh;
   background-color: #24538f;
  color: white;
  }
  .topnav a.icon {
    float: right;
    display: block;
    padding: 3vh;
  }
  
  ul#todoList li {
  font-size: 15px;
  }
  
  #description {
	float: right;
	margin-right: 19vw;
	}
  .container {
    width: 4vw;
    
	}

	#allergy, #diettype {
	margin: auto;
	width: 100vw;
	font-size: 12px;
	}

  .button {
  width: 100px;
  }
   .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.float-my-children > * {
    position: center;
    width: 50vw;
}

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    position: center;
    width: 50vw;
    display: table;
}

.clearfix:after {
    clear: both;
}
select {
font-family: 'futura';
}
.myDIV {
    position: 'relative';
    top: '-15px';
    background-color: #24538f;
    
    
}
.collapsible {

    background-color: #24538f;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-left: 15px;
    margin: 10px;
}

img {
	position: center;
    max-width: 50vw;
    height: auto%;
   
}

#blah{
  max-width:180px;
}
input[type=file]{
padding:10px;
background:#2d2d2d;}




.active, .collapsible:hover {
    background-color: #d3e2f1;
    color: #24538f;
}

.collapsible:after {
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 15px;
    margin:0px;
    width: 60%;
}

.active:after {
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    width: 95%;
    margin: 10px;
    margin-left: 15px;
}


